:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'header school student'
    'header main time'
    'alumni footer footer';
  gap: 1em;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

header {
  grid-area: header;
  background-color: var(--blue-color);
  color: white;
  padding: 2rem;
  display: grid;
  align-content: center;
  text-align: center;
}
.school img,
.student img,
.time img,
.alumni img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa toda la altura del contenedor */
  object-fit: cover; /* Mantiene proporciones sin recortar */
  display: block;
  align-items: center;
}

.school {
  grid-area: school;
}

.student {
  grid-area: student;
}

main {
  grid-area: main;
  display: grid;
  border: var(--border);
  color: var(--blue-color);
  padding: 1rem;
  min-height: 0;
  align-items: center;
  justify-content: center;
}
main h2 {
  margin: 0;
  padding: 0, 5rem;
}

.time {
  grid-area: time;
}

.alumni {
  grid-area: alumni;
}

footer {
  grid-area: footer;
  background-color: var(--orange-color);
  color: white;
  padding: 2rem;
  display: grid;
  align-content: center;
  text-align: center;
}

button {
  width: fit-content;
  background: transparent;
  justify-self: center;
  color: rgb(29, 27, 27);
  border: 1px solid white;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
  background-color: white;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'header'
      'school'
      'student'
      'main'
      'time'
      'alumni'
      'footer';
  }
  footer p {
    font-size: 1em;
  }
  header,
  main,
  footer {
    text-align: center;
    padding: 1rem;
  }

  h1,
  h2,
  h3 {
    text-transform: uppercase;
  }

  .school,
  .student,
  .time,
  .alumni {
    min-height: 200px;
  }
}
